svg {
  background-color: whitesmoke;
  border: 1px solid lightgrey;
}

#background {
  fill: white;
}

.line {
  fill: none;
  stroke: #0000005b;
  stroke-width: 3;
}

.bar {
  stroke-width: 1px;
  fill: LightSkyBlue;
}

.axis path,
.axis line {
  /* stroke: none;
  fill: none; */
}

.axis text {
  fill: dimgrey;
  font-size: 9px;
}

body {
  font-family: sans-serif;
  font-size: 9px;
  color: dimgrey;
}
